body{
    font-family: 'Questrial', sans-serif;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display:flex!important;
    flex-direction: column!important;
    min-height: 100%!important;
}
p.text-danger{
    background-color: black!important;
}

#saludo{
    margin: 0;
}

#icono{
    height: 60px;
    width: 60px;
   
}

html {
    height: 100%!important;
}

a.title-edit{
    color: black!important;
}

.list-group-item{
   text-align: center;
   background-color: black;
   color: white!important;
}

.list-group-item a{
    color: white!important;
}

.text-white.bg-dark {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
margin-top: auto!important;
background-color: black;
color: white;
text-align: center;
}

.text-info, .text-success, .text-dark{
    text-transform: uppercase;
    text-decoration: none;
}

.form-producto{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(5, 65px);
    gap: 1em;
    justify-content: center;
}

.form-productoDetail{
    display: grid;
    height: 100%;
  grid-template-columns:repeat(1, 5 px);
  grid-template-rows: repeat(1, 200px);
    gap: 1em;
    justify-content: center;
}

.form-categoria{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(2, 65px);
    gap: 1em;
    justify-content: center;
}

#categoria-nombre{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#producto{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#categoria{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#cantidad{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#marca{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#agregar{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#agregar-categoria{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.boton-container{
    display: flex;
    justify-content:center;
}

.tabla-container{
    width: 60%;
    margin:auto;
}

.tabla-container-categorias{
    width: 40%;
    margin:auto;
}

.form-container{
    width: 60%;
    margin:auto;
}

h1.titulo{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.productos-container{
    display: flex;
    justify-content: center;
}


