body{
    font-family: 'Questrial', sans-serif;
    background-image: url(../Images/fondo.jpg);
    background-size:cover;
    display:flex!important;
    flex-direction: column!important;
    min-height: 100%!important;
}
p.text-danger{
    background-color: black!important;
  
}

html {
    height: 100%!important;
}

a.title-edit{
    color: black!important;
}
.list-group-item{
   text-align: center;
   background-color: black;
   color: white!important;
}

.list-group-item a{
    color: white!important;
}
.text-white.bg-dark {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
margin-top: auto!important;
background-color: black;
color: white;
text-align: center;
}

.text-info, .text-success, .text-dark{
    text-transform: uppercase;
    text-decoration: none;
}

.form-producto{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(3, 65px);
    gap: 1em;
    justify-content: center;
}

.form-categoria{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(2, 65px);
    gap: 1em;
    justify-content: center;
}

#categoria-nombre{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#producto{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#categoria{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#cantidad{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
#marca{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
#agregar{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

#agregar-categoria{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}


.boton-container{
    display: flex;
    justify-content:center;
}

.tabla-container{
    width: 60%;
    margin:auto;
    
}

.tabla-container-categorias{
    width: 40%;
    margin:auto;
}

.form-container{
    width: 60%;
    margin:auto;
}

h1.titulo{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;

}

.productos-container{
    display: flex;
    justify-content: center;
}


